.header {
  box-shadow: none;
  text-align: center;
  background-color: $primary;
  transition: box-shadow 0.3s linear;
  padding: rem-calc(20px 10px);

  &:hover {
    box-shadow: 0 0 4px 0 $primary;
  }

  @media (min-width: $tablet) {
    text-align: left;
    padding: rem-calc(20px 30px);
  }

  .wrapper {
    display: flex;
    margin: 0 auto;
    align-items: baseline;
    justify-content: space-between;
    max-width: rem-calc(980px);
    padding: rem-calc(0 15px);

    a {
      color: $white;
    }

    .logo {
      letter-spacing: 2px;
      border: 1px solid $white;
      background-color: transparent;
      transition: color 0.3s linear, background-color 0.3s linear;
      padding: rem-calc(5px 15px);
      font-size: rem-calc(18px);

      &:hover {
        color: $primary;
        background-color: $white;
      }
    }

    .tagline {
      display: none;
      color: $white;
      letter-spacing: 1px;
      margin: rem-calc(-10px 0 0 30px);
      font-size: rem-calc(14px);

      @media (min-width: $tablet) {
        display: inline;
      }
    }

    .add-new {
      right: 0;
      color: $white;
      position: relative;
      text-transform: lowercase;
      background-color: transparent;
      transition: color 0.3s linear, background-color 0.3s linear;
      padding: rem-calc(6px 15px);
      font-size: rem-calc(16px);

      &:hover {
        color: $primary;
        background-color: $white;
      }
    }
  }
}
