.movies {
  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .tile {
      color: $lightest;
      background-color: $darkest;
      transition: background-color 0.3s linear;
      margin: rem-calc(0 20px 20px 0);
      padding: rem-calc(15px);
      width: rem-calc(175px);

      &:hover {
        background-color: $primary;

        .poster {
          transform: scale(1.02);
        }

        .release-date {
          color: $lightest;
        }
      }

      .poster {
        background-size: cover;
        background-color: $dark;
        background-position: center;
        transition: transform 0.5s linear;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
        height: rem-calc(215px);
        width: rem-calc(145px);

        &:active {
          position: relative;
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          left: rem-calc(3px);
          top: rem-calc(3px);
        }
      }

      .title {
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        text-overflow: ellipsis;
        margin: rem-calc(15px 0 10px 0);
        line-height: rem-calc(20px);
        width: rem-calc(165px);
      }

      .release-date {
        color: $grey;
        transition: color 0.3s linear;
      }

      .title,
      .release-date {
        font-size: rem-calc(12px);

        @media (min-width: $tablet) {
          font-size: rem-calc(14px);
        }
      }
    }
  }
}
