.moviesSingle {
  padding: 0;

  .banner {
    width: 100%;
    background-size: cover;
    background-color: $dark;
    height: rem-calc(150px);
    background-position: center;
    transition: height 0.3s linear;

    @media (min-width: $tablet) {
      height: rem-calc(200px);
    }

    .overlay {
      opacity: 0.5;
      height: 100%;
      background-color: $darkest;
    }
  }

  .wrapper {
    display: flex;
    color: $lightest;
    flex-direction: column;
    padding: rem-calc(20px);

    @media (min-width: $tablet) {
      padding: rem-calc(20px 0 20px 20px);
    }

    .content {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      .poster {
        position: relative;
        top: rem-calc(-80px);
        width: rem-calc(100px);
        background-size: cover;
        background-color: $dark;
        height: rem-calc(140px);
        min-width: rem-calc(100px);
        background-position: center;
        margin-bottom: rem-calc(-50px);
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
        transition: top 0.3s linear,
                    width 0.3s linear,
                    height 0.3s linear,
                    min-width 0.3s linear;

        @media (min-width: $tablet) {
          top: rem-calc(-100px);
          width: rem-calc(150px);
          height: rem-calc(230px);
          min-width: rem-calc(150px);
        }
      }

      .title {
        width: 100%;
        font-size: rem-calc(20px);
        margin-left: rem-calc(15px);
        transition: font-size 0.3s linear;

        @media (min-width: $tablet) {
          font-size: rem-calc(26px);

          &:after {
            content: '';
            width: 100%;
            display: block;
            height: rem-calc(1px);
            margin-top: rem-calc(15px);
            background-color: $primary;
          }
        }
      }
    }

    .details {
      position: relative;

      li {
        margin-bottom: rem-calc(15px);
      }
    }

    .description,
    .cast ul {
      line-height: rem-calc(22px);
    }

    .cast {
      margin-top: rem-calc(15px);
    }
  }

  button.back {
    margin: rem-calc(20px);
    width: calc(100% - 40px);

    @media (min-width: $tablet) {
      display: none;
      width: rem-calc(266);
      margin: rem-calc(20px 0 0 0);
    }
  }
}
