.moviesSingle {
  padding: 0;

  .banner {
    width: 100%;
    background-size: cover;
    background-color: $dark;
    background-position: center;
    transition: height 0.3s linear;
    height: rem-calc(150px);

    @media (min-width: $tablet) {
      height: rem-calc(200px);
    }

    .overlay {
      opacity: 0.5;
      height: 100%;
      background-color: $darkest;
    }
  }

  .wrapper {
    display: flex;
    color: $lightest;
    flex-direction: column;
    padding: rem-calc(20px);

    @media (min-width: $tablet) {
      padding: rem-calc(20px 0 20px 20px);
    }

    .content {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      .poster {
        position: relative;
        background-size: cover;
        background-color: $dark;
        background-position: center;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
        transition: top 0.3s linear,
                    width 0.3s linear,
                    height 0.3s linear,
                    min-width 0.3s linear;
        margin-bottom: rem-calc(-50px);
        min-width: rem-calc(100px);
        height: rem-calc(140px);
        width: rem-calc(100px);
        top: rem-calc(-80px);

        @media (min-width: $tablet) {
          min-width: rem-calc(150px);
          height: rem-calc(230px);
          width: rem-calc(150px);
          top: rem-calc(-110px);
        }
      }

      .title {
        width: 100%;
        transition: font-size 0.3s linear;
        margin-left: rem-calc(15px);
        font-size: rem-calc(20px);

        @media (min-width: $tablet) {
          font-size: rem-calc(30px);

          &:after {
            content: '';
            width: 100%;
            display: block;
            background-color: $primary;
            margin-top: rem-calc(15px);
            height: rem-calc(1px);
          }
        }
      }
    }

    .details {
      position: relative;

      li {
        margin-bottom: rem-calc(15px);
      }
    }

    .description,
    .cast ul {
      line-height: rem-calc(22px);
    }

    .cast {
      margin-top: rem-calc(15px);
    }
  }

  .buttons {
    margin-top: rem-calc(50px);

    @media (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    button {
      margin: 0 auto rem-calc(20px) auto;
      width: rem-calc(280);

      @media (min-width: $tablet) {
        margin: rem-calc(20px);

        &:not(:last-child) {
          margin-right: 0;
        };
      }
    }
  }
}
