<template name="moviesEdit">
  {{#with movie}}
    <div class="content">
      <form class="movies-create">
        <label class="title">
          Title:
          <input type="text" name="title" placeholder="2001: A Space Odyssey" value="{{ title }}" autocomplete="off">
        </label>

        <label class="description">
          Description:
          <textarea type="text" name="description" rows="5" placeholder="Humanity finds a mysterious object buried beneath the lunar surface and sets off to find its origins with the help of HAL 9000, the world's most advanced super computer." value="{{ description }}"></textarea>
        </label>

        <label class="location" required>
          Location:
          <input type="text" name="title" placeholder="Loaned to Andrew Hill" value="{{ location }}" autocomplete="off">
        </label>

        <div class="buttons-wrapper">
          <input class="button submit" type="submit" name="submit">
          <button class="button cancel" type="button" name="cancel">Cancel</button>
        </div>
      </form>
    </div>
  {{/with}}
</template>
