<template name="moviesSingle">
  {{#with movie}}
    <div class="banner" style="background-image: url('{{ banner }}')">
      <div class="overlay">&nbsp;</div>
      <!-- <button class="edit-movie">Edit Movie</button> -->
    </div>

    <div class="wrapper">
      <div class="content">
        <div class="poster" style="background-image: url('{{ poster  }}')">&nbsp;</div>
        <h1 class="title">{{ title }}</h1>
      </div>
      <ul class="details">
        <li class="release-date"><span class="category">Release Date:</span> {{ release_date }}</li>
        <li class="director"><span class="category">Directors:</span> {{ getCrewMember "Director" }}</li>
        <li class="writer"><span class="category">Writers:</span> {{ getCrewMember "Writer" }}</li>
        <li class="description "><span class="category">Description:</span> {{ description }}</li>
        <li class="cast"><span class="category">Cast:</span> {{ cast }}</li>
      </ul>
    </div>

    <div class="buttons-wrapper">
      <button class="edit">Edit</button>
      <button class="delete">Delete</button>
    </div>
  {{/with}}
</template>
