<template name="query">
  <label class="themoviedb {{ label }}" required>
    {{ label }}
    <input type="text" name="{{ label }}" placeholder="{{ placeholder }}" value="{{ value }}">
  </label>

  {{#if searchResults }}
    <ul class="search-results">
        {{#each movie in searchResults }}
          {{#with movie }}
            <li>
              <span class="title-year">{{ movie.original_title }} - {{ movie.release_date }}</span>
              <span class="description">{{ movie.overview }}</span>
            </li>
          {{/with}}
        {{/each }}
    </ul>
  {{/if }}
</template>
