<template name="header">
  <header class="header">
    <div class="wrapper">
      <a href="/movies" class="logo">kubrick</a>
      <span class="tagline">Keep track of all the movies in your collection</span>
      <a href="/movies/create" class="add-new">Add New Movies</a>
    </div>
  </header>

  {{#if moviesList }}
    <div class="search">
      <input type="text" name="search" placeholder="Search your collection by title..." autocomplete="off">
      {{#if results }}
        <ul class="search-results">
          {{#each results }}
            <li><a href="/movies/{{ _id }}">{{ title }}</a></li>
          {{ else }}
            <p>No results found</p>
          {{/each }}
        </ul>
      {{/if }}
    </div>
  {{/if }}
</template>
