* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::-moz-selection {
  opacity: 0.7;
  color: $lightest;
  background-color: $highlight;
}

::selection {
  opacity: 0.7;
  color: $lightest;
  background-color: $highlight;
}

html {
  width: 100%;
  height: 100%;
  color: $darkest;
  font-weight: 300;
  overflow-x: hidden;
  background: $darkest;
  font-family: $bodyFont;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  margin: 0 auto;
  padding: rem-calc(20px 15px);
  max-width: rem-calc(980px);

  @media (min-width: $laptop) {
    padding: rem-calc(40px 0);
  }
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
}

section {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden {
  opacity: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}
