button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: 100%;
  border: none;
  color: $white;
  display: block;
  cursor: pointer;
  font-weight: 400;
  background: $grey;
  text-align: center;
  letter-spacing: 1px;
  font-family: $headingFont;
  text-transform: uppercase;
  transition: background 0.1s linear, opacity 0.3s linear;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
  padding: rem-calc(20px 10px);
  font-size: rem-calc(15px);

  &:not(:last-child) {
    margin-bottom: rem-calc($rem-base);
  }

  &:hover {
    opacity: 0.9;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    background: $grey;
    position: relative;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
    left: rem-calc(3px);
    top: rem-calc(3px);
  }

  &.primary {
    background-color: $primary;
  }
}

button[disabled],
button[readonly] {
  cursor: not-allowed;
  background-color: $light;
}
