button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: 100%;
  border: none;
  color: $white;
  display: block;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  background-color: $grey;
  font-family: $headingFont;
  text-transform: uppercase;
  transition: background-color 0.2s linear;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
  padding: rem-calc(20px 10px);
  font-size: rem-calc(15px);

  &:not(:last-child) {
    margin-bottom: rem-calc(25px);
  }

  &:hover {
    background-color: $primary;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    background: $grey;
    position: relative;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
    left: rem-calc(3px);
    top: rem-calc(3px);
  }

  @media (min-width: $tablet) {
    max-width: 25%;

    &:not(:last-child) {
      margin: 0 rem-calc(25px) 0 0;
    }
  }

  &.primary {
    background-color: $primary;

    &:hover {
      background-color: $grey;
    }
  }
}

input[readonly],
input[disabled],
button[readonly],
button[disabled] {
  cursor: not-allowed;

  &:hover {
    background-color: $error;
  }
}

.buttons-wrapper {
  display: flex;
  margin: rem-calc(20px 0 0 20px);

  button {
    margin: rem-calc(0 20px 20px 0);
    width: rem-calc(280);

    @media (min-width: $tablet) {
      margin: rem-calc(0 20px 0 0);
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    margin: rem-calc(30px 0 0 0);
  }
}
