// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $lightest;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: $headingFont;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 1.602em;
}

h2 {
  font-size: 1.424em;
}

h3 {
  font-size: 1.266em;
}

h4 {
  font-size: 1.125em;
}

a {
  color: $primary;
  font-weight: 400;
  text-decoration: none;
  font-family: $bodyFont;
}

strong {
  font-weight: 700;
}

small,
figcaption {
  display: inline-block;
}

blockquote,
blockquote p {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  margin-left: rem-calc(24px);

  cite {
    display: block;
    text-align: right;
  }
}

.primary {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: rem-calc(20px);

  &:after {
    content: '';
    display: block;
    margin: 0 auto;
    height: rem-calc(1px);
    width: rem-calc(100px);
    background-color: $primary;
    margin-top: rem-calc(20px);
  }
}

.category {
  color: $light;
  margin: rem-calc(0 0 10px 0);
}
