@import url('fonts.googleapis.com/css?family=Roboto:300,400,700');

// Configure rem-calc
$rem-base-font-size: 100% !default;
$rem-base-line-height: 150%;
$rem-base: 16px !default;

// Base Colours
$primary: #EB690B;
$secondary: #009FFF;
$tertiary: #02B224;

$highlight: #009FFF;
$success: #02B224;
$warning: #EB690B;
$error: #F9243D;

// Branded Colours
$facebook: #43619C;
$twitter: #24A9E6;
$google: #F24033;

$black: #000000;
$darkest: #1F242D;
$dark: #262D37;
$grey: #73849B;
$light: #BDC9DA;
$lightest: #F7F9FC;
$white: #FFFFFF;

// Font Families
$headingFont: 'Roboto', sans-serif;
$bodyFont: 'Roboto', sans-serif;
$titleFont: 'Roboto', sans-serif;
$monoFont: 'Roboto', sans-serif;

// Device Sizes
$mobile-small: 320px;
$mobile-medium: 375px;
$mobile-large: 425px;
$between: 580px;
$tablet: 768px;
$laptop: 1024px;
$laptop-large: 1440px;
